@model WebAndayCome.Models.RutasViewModel
    @using AndayComeGenNHibernate.EN.AndayCome;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la ruta</h2>
<hr />

<section style="background-color: #457B9D; display: flex; padding:1em;">
    <div>
        <img class="img" height="200" alt="foto de ruta" src="@Html.DisplayFor(model => model.Photo)" />
    </div>
    <div style="margin:1em; ">
        <p><strong>@Html.DisplayFor(model => model.Name)</strong></p>
        <p>@Html.DisplayFor(model => model.Creator)</p>

        <p>@Html.DisplayFor(model => model.Description)</p>
        <p>@Html.DisplayFor(model => model.Start_date) - @Html.DisplayFor(model => model.End_date)</p>
        <br />
        <button class="boton">
            @Html.ActionLink("Participar", "AddClient", "Routes", new { Model.Id }, htmlAttributes: new { style = "color: #1D3557" })
        </button>
    </div>

</section>
<br />

<h2>Restaurantes de la ruta</h2>
<hr />
<section style="background-color: #E63946; display:flex; padding: 1em;">
    @foreach (var itemrest in ViewData["Restaurantes"] as IEnumerable<WebAndayCome.Models.RestaurantViewModel>)
    {


        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article>
                <a href="/Restaurant/Details/@itemrest.Id">
                    <h3 title="@itemrest.Name">@itemrest.Name </h3>
                    <img height="140" alt="foto de restaurante" src="@itemrest.Photo" />
                    <br />
                </a>
            </article>
        </div>


    }
</section>
<hr />

    @if (Session["Usuario"] != null)
    {
        Html.RenderAction("_Valorar", "Routes");
        Html.RenderAction("_Comment", "Routes");
    }
    @{Html.RenderAction("_PorRuta", "Comment", new { Model.Id });}


    <p>
        @Html.ActionLink("Volver", "Index", new { @class = "otros" })
    </p>


    <style>
        .boton {
            background-color: #61C2E2;
            border-radius: .2em;
            border-color: #61C2E2
        }
            .boton:hover {
                background-color: #61DBE2;
            }
        .crear {
            color: #61C2E2;
        }
            .crear:hover {
                color: #61DBE2;
            }
        .otros {
            color: #A8DADC;
        }
            .otros:hover {
                color: #CEDADC;
            }
        .row {
            background-color: #457B9D;
            border-radius: .5em;
        }
        .img {
            height: 140px;
            margin: .3em
        }
            .img:hover {
                transform: scale(1.15);
            }
        h3, p {
            text-align: left;
            padding: 1em;
            margin: 0;
        }
        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: black;
        }
        p {
            padding: .5em 0 0 0;
            color: #F1FAEE;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }
        section {
            border-radius: .5em;
        }
    </style>