@model IEnumerable<WebAndayCome.Models.GiveawayViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.csHtml";
}

<h2>Sorteos</h2>
<hr />
@if (ViewData["admin"] != null)
{
    if (ViewData["admin"].Equals("true"))
    {
        <button class="boton">
            @Html.ActionLink("Crear", "Create", "Giveaway", htmlAttributes: new { style = "color: #1D3557" })
        </button>
    }
}


@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th class="thfirst">
                Número de participantes
            </th>
            <td class="tdfirst">
                @Html.DisplayFor(modelItem => item.Clientes)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Premio)
            </th>
            <td>
                @Html.DisplayFor(modelitem => item.Premio)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <td>
                @Html.DisplayFor(modelitem => item.Winner)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <td>
                @Html.DisplayFor(modelitem => item.Precio)
            </td>
        </tr>
        <tr>
            <th class="thlast">
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <td class="tdlast">
                @Html.DisplayFor(modelitem => item.Premium)
            </td>
        </tr>
        <tr>
            <td class="det">
                @if (ViewData["admin"] != null)
                {
                    if (ViewData["admin"].Equals("true"))
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="hidden" name="idsorteo" id="idsorteo" value=@item.Id class="btn btn-default" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="terminar sorteo" class="btn btn-default" />
                                </div>
                            </div>
                        }
                        @Html.ActionLink("Editar", "edit", new { id = item.Id });
                    }
                }
                |
                @Html.ActionLink("Detalles", "details", new { id = item.Id })
            </td>
        </tr>
    </table>

}

<style>
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    th {
        background-color: #457B9D;
        color: white;
    }

    td {
        background-color: #A8DADC;
    }

    .det {
        background-color: #F1FAEE;
    }

    .thfirst {
        border-radius: .5em 0 0 0;
    }

    .thlast {
        border-radius: 0 0 0 .5em;
    }

    .tdfirst {
        border-radius: 0 .5em 0 0;
    }

    .tdlast {
        border-radius: 0 0 .5em 0;
    }
</style>