@model IEnumerable<WebAndayCome.Models.RestaurantViewModel>

@{
    ViewBag.Title = "Restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

<p>
    @Html.ActionLink("Añadir restaurante", "Create", new { @class = "crear" })
</p>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <article>
                    <h3 title="@Html.DisplayFor(modelItem => item.Name)"> @Html.DisplayFor(modelItem => item.Name) </h3>

                    <img class="img" alt="foto de restaurante" src="@Html.DisplayFor(modelItem => item.Photo)" />
                    <p>
                        Dirección: @Html.DisplayFor(modelItem => item.Street)
                    </p>
                    <p>
                        Capacidad del local: @Html.DisplayFor(modelItem => item.Capacity)
                    </p>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "otros" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "otros" })
                    </p>
                </article>
            </div>
        }
    </div>
</div>

<style>
    .crear {
        color: #61C2E2;
    }

        .crear:hover {
            color: #61DBE2;
        }

    .otros {
        color: #A8DADC;
    }

        .otros:hover {
            color: #CEDADC;
        }

    .row {
        background-color: #457B9D;
        border-radius: .5em;
    }

    .img {
        height: 140px;
        margin: .3em
    }

        .img:hover {
            transform: scale(1.15);
        }

    h3, p {
        text-align: left;
        padding: 1em;
        margin: 0;
    }

    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: black;
    }

    p {
        padding: .5em 0 0 0;
        color: #F1FAEE;
    }
    hr{
        display:block;
        height:1px;
        border:0;
        border-top:1px solid #ccc;
        margin: 1em 0;
        padding:0;
    }
</style>