@using WebAndayCome.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<style>
    .titulo {
        font-size: 20px;
        font-family: Arial;
        font-weight: bold;
        font-style: italic;
        color: #1D3557;
    }

    .informacion {
        font-size: 14px;
        font-family: Arial;
        color: #1D3557;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    .espacio{
        margin-left: 3.5em;
        padding-bottom: 1em;
    }

    .fondoSeccion {
        display: flex;
        justify-content: center;
        border-radius: .5em;
        padding-top: 5%;
        background-color: #A8DADC;
    }

    .labelInicio {
        color: #1D3557;
    }

    .infoInput {
        margin-left: 2em;
        width: 20em;
    }

    .botonAcep {
        margin-left:14.5em;
        font-size: 14px;
        font-family: Arial;
        background-color: #61C2E2;
        color: #1D3557;
    }
</style>

<h2 class="titulo">@ViewBag.Title</h2>
<h4 class="informacion">Inicia sesión con su usuario de Anda&Come. Si no tienes uno, @Html.ActionLink("Regístrate", "Register").</h4>
<hr />

<div class="row">
    <div class="fondoSeccion">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "labelInicio col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "infoInput form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "labelInicio col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "infoInput form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="botonAcep btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="informacion checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <p class="espacio informacion">
                    ¿Has olvidado tu contraseña? Entra @Html.ActionLink("aquí", "ForgotPassword")
                </p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}